
body {
	font-family: ABeeZee;
	background-color: darkgray;
}

h1{
	font-family: ABeeZee;
	text-align: center;
		color: darkgreen;
}

h2 {
	font-family: ABeeZee;
	text-align: center;
		color: darkgreen;
}
h3 {
	font-family: ABeeZee;
	text-align: center;
		color: darkgreen;
}

.searchResults {
	background-color: lightgray;
}




body .background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	z-index: -1;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

footer {
	text-align: center;
	color: white;
}


.navbar-default .navbar-brand {
	font-size: 24px;
	color: darkgreen;
}

.navbar-default .navbar-nav>li>a {
	color: darkgreen;
}


.navbar.transparent.navbar-default{
	 border-width: 0px;
	 -webkit-box-shadow: 0px 0px;
	 box-shadow: 0px 0px;
	 /*background-color: rgba(0,0,0,0.0);*/
	 	background-color: 	#F0F0F0;
	 background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
	 background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	 background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);

}

.img-responsive {
	border: darkgray;
	border-width: 5px;

}

.shopWrapper{
	max-width: 200px;
}

.searchContent{
	padding: 10px;
	float:left;
}

button.cancel {
	background: #999;
	border-color: #999;
}

button.cancel:hover {
	background: darkgreen;
}

.ng-cloak {
	display: none !important;
}

.fader.ng-hide-add {
  opacity: 1.0;
  transition: opacity 1s;
}

.fader.ng-hide-add-active {
  opacity: 0;
}

.product-list {
	margin: 0 0 170px 0;
	background-color: white;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .home img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.choices{
	background-color: white;
	border-color: gray;
	border-radius: 5px;
	padding: 10px;
	max-height: 400px !important;
	text-align: center;
}


.thumbnail {
    width: 200px;
    height: 200px;
		display:inline-block;
		border: 5px;
		border-color: white;
		border-radius: 5px;
		background-color: white;

}

.icon {
	width: 200px;
	height: 200px;
	display:inline;
	padding: 20px;
	border: 5px;
	align-items: center;
	border-color: white;
	border-radius: 10px;
	background-color: white;
	margin-left: 20px;
}


.product-list figure {
	max-width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	border-color: darkgray;
	border-width: 5px !important;
	border-radius: 10px;
}

.product-list figure img {
	position: relative;
	transition: transform 0.4s;

}

.product-list figcaption {
	font-family: ABeeZee;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px;
	height: 128px;
	background: darkgray;
	color: darkgreen;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
	opacity: 0;
}

.product-list .price:before {
	content: "Price: ";
}

.product-list figcaption h3 {
	font-family: ABeeZee;
	margin: 0 0 8px;
	padding: 0;
	color: white;
	font-size: 16px;
}

.product-list figcaption button{
	background: darkgreen;
}

.product-list figure:hover img {
	transform: translateY(-50px);
}

.product-list figure:hover figcaption {
	font-family: ABeeZee;
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.shopping-cart {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
	background: #2c3f52;
	color: lightgray;
	box-shadow: 10px 10px 5px #888888;
}

.shopping-cart h2 {
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.shopping-cart.ng-enter, .shopping-cart.ng-leave {
	transition: 0.5s linear all;
}

.shopping-cart.ng-enter {
	opacity: 0;
	transform: translateY(100%);
}

.shopping-cart.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateY(0px);
}

.shopping-cart .cart-item {
	margin-right: 16px;
	position: relative;
}

.shopping-cart .cart-item img {
	height: 92px;
	width: 92px;
}

.shopping-cart .cart-item .badge {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	background-color: white;
	color: #2c3f52;
	font-weight: bold;
	padding: 6px;
	line-height: 100%;
	border-radius: 50%;
}

.shopping-cart button {
	position: absolute;
	bottom: 0px;
	right: 16px;
}

/*sign in form*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
		font-family: ABeeZee;
		color: darkgray;
		background-color: 	#F0F0F0;

}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
		font-family: ABeeZee;
			background-color: 	#F0F0F0;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
		  z-index: 2;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
			background-color: 	#F0F0F0;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
			font-family: ABeeZee;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
			font-family: ABeeZee;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		font-family: ABeeZee;
		color: darkgray;
		text-align: center;
			background-color: 	#F0F0F0;

}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
		font-family: ABeeZee;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
		font-family: ABeeZee;
		color:black;
    margin-top: 10px;
}
