
	<div class="login">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
							 <span class="prompt">Please Sign In</span>
              	<form class="form-signin" ng-submit="usersCtrl.login()">
                <input type="text" class="form-control" placeholder="Email" ng-model="usersCtrl.user.username" required autofocus>
                <input type="password" class="form-control" ng-model="usersCtrl.user.password" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
								<div class="alert alert-danger" ng-if="usersCtrl.error">
									{{ usersCtrl.error }}
								</div>
                </form>
            </div>
            <a ui-sref="signup" class="text-center new-account">Create An Account </a>
        </div>
    </div>
</div>
