<div ng-controller="UsersController as usersCtrl">
	<nav class="navbar transparent navbar-default">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref="home">Florish</a>
	</div>
		<ul class="nav navbar-nav navbar-right">
			<li ng-if="usersCtrl.loggedIn"><a>Hi {{usersCtrl.user.username}}</a></li>
			<li ng-if="usersCtrl.loggedIn"><a ui-sref="search">Search All Products</a></li>
			<li ng-if="usersCtrl.loggedIn"><a ui-sref="shop">Browse Products</a></li>
			<li ng-if="!usersCtrl.loggedIn"><a ui-sref="login">Login</a></li>
			<li ng-if="!usersCtrl.loggedIn"><a ui-sref="signup">Sign Up	</a></li>
			<li ng-if="usersCtrl.loggedIn"><a ng-click="usersCtrl.logout()">Log out</a></li>
		</ul>
		</div>
	</nav>
</div>
