<h1>The Pot step</h1>


<div style="background-color:white;" class="row text-center">
	<div class="col-md-6">
		<img class= "img-responsive" id="plantPic" ng-src="{{productsCtrl.productUrl}}"/>
	</div>
	<div class="col-md-6 text-center">
		<!-- RESULTS -->
		<a class="" href="#">
    	<img class="icon" ng-src="/static_assets/large.png"/>
    </a>
    <a class="" href="#">
    	<img class="icon" ng-src="/static_assets/large.png"/>
    </a>
    <a class="" href="#">
    	<img class="icon" ng-src="/static_assets/large.png"/>
    </a>
	</div>
		<!-- <ul class=" product-list small-block-grid-2">
			<li ng-repeat="product in productsCtrl.filtered">
				<figure class="shopWrapper">
	        <img class= "img-responsive" id="plantPic" ng-src="{{product.avatar_url}}"/>
					<figcaption>
						<h3>	{{ product.name}} - {{product.price | currency}}</h3>
						<button ui-sref="pot({_id: product._id})"ng-click="productsCtrl.addToCart(product)">Pick a Pot!</button>
					</figcaption>
				</figure>
			</li>
		</ul> -->


	<!-- BUTTONS -->
	<div class="row text-center">
		<button class="">Back</button>
		
		<button class="">I have a pot</button>
	</div>

</div>