
<div style="background-color:white;" ng-if="!productsCtrl.finalStep()">
	<div class="row text-center">
		<h2 class="" ng-show="productsCtrl.showWords">Click on An Icon to Start Shopping!</h2>

		  <h2 class="" ng-show="productsCtrl.showResults">Your Results Are:</h2>

		<!--********** LIGHT LEVELS **********-->
	  <div class="row" ng-if="productsCtrl.whichStep(2)">
		  <h3 class="" ng-show="productsCtrl.showLight">Lots of light, or just a little?</h3>
	    <a class="col-md-6" href="#">
	    	<img href="#" class="icon" id="low" ng-src="/static_assets/low.png" ng-show="productsCtrl.showLight" ng-click="productsCtrl.selectLowLight()"/>
	    	<h3>Low Light</h3>
	    </a>
	    <a class="col-md-6" href="#">
	    	<img class="icon" ng-src="/static_assets/bright.png" ng-show="productsCtrl.showLight" ng-click="productsCtrl.selectBrightLight()"/>
	    	<h3>High Light</h3>
	    </a>
	  </div>

    <!-- ********* WATER AMOUNT ********** -->
    <div class="row" ng-if="productsCtrl.whichStep(1)">
	    <h3 class="" ng-show="productsCtrl.showWater">Do you want a to water frequently or less frequently?</h3>
		  <a class="col-md-6" href="#">
	    	<img class="icon" ng-src="/static_assets/hanging.png" ng-show="productsCtrl.showWater" ng-click="productsCtrl.selectLotsWater()"/>
	    	<h4>High Maintenance</h4>
	    </a>
	    
	    <a class="col-md-6" href="#">
	    	<img class="icon" ng-src="/static_assets/potted.png"ng-show="productsCtrl.showWater" ng-click="productsCtrl.selectLittleWater()"/>
	    	<h4>Low Maintenance</h4>
	    </a>
	    
    </div>

    <!-- ********* SMALL MEDIUM LARGE ********* -->
    <div class="row" ng-if="productsCtrl.whichStep(0)">
	    <h3 class="" ng-show="productsCtrl.showSize">Do you need a small, medium, or large plant?</h3>
	    <a class="col-md-3" href="#">
	    	<img class="icon" ng-src="/static_assets/small.png" ng-show="productsCtrl.showSize" ng-click="productsCtrl.selectSmall()"/>
	    	<h4>Small</h4>
	    </a>
	    
	    <a class="col-md-3" href="#">
	    	<img class="icon" ng-src="/static_assets/medium.png" ng-show="productsCtrl.showSize" ng-click="productsCtrl.selectMedium()"/>
	    	<h4>Medium</h4>
	    </a>
	    
	    <a class="col-md-3" href="#">
	    	<img class="icon" ng-src="/static_assets/large.png" ng-show="productsCtrl.showSize" ng-click="productsCtrl.selectLarge()"/>
	    	<h4>Large</h4>
	    </a>
	    
	    <a class="col-md-3" href="#">
	    	<img class="icon" ng-src="/static_assets/hanging.png" ng-show="productsCtrl.showSize" ng-click="productsCtrl.selectHanging()"/>
	    	<h4>Hanging</h4>
	    </a>
	    
	  </div>
	</div>
	  <!-- BUTTONS -->
		<div class="row text-center">
			<button class="" ng-show="productsCtrl.showBack" ng-click="productsCtrl.back()">Back</button>
			
			<button class="" ng-show="productsCtrl.showBack" ng-click="productsCtrl.reset()">Reset</button>
		</div>
</div>


<!-- RESULTS -->
<div style="background-color:white;" ng-if="productsCtrl.finalStep()" class="row">
	<div class="row">
		<!-- RESULTS -->
		<ul class=" product-list small-block-grid-2">
		<!-- class="product-list small-block-grid-2" -->
			<li ng-repeat="product in productsCtrl.filtered">
				<figure class="shopWrapper">
	        <img class= "img-responsive" id="plantPic" ng-src="{{product.avatar_url}}"/>
					<figcaption>
						<h3>	{{ product.name}} - {{product.price | currency}}</h3>
						<button ui-sref="pot({_id: product._id})"ng-click="productsCtrl.addToCart(product)">Pick a Pot!</button>
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>

	<!-- BUTTONS -->
	<div class="row text-center">
		<button class="" ng-show="productsCtrl.showBack" ng-click="productsCtrl.back()">Back</button>
		
		<button class="" ng-show="productsCtrl.showBack" ng-click="productsCtrl.reset()">Reset</button>
	</div>

</div>


<div ng-if="productsCtrl.cart.length" class="shopping-cart">
	<h2>{{productsCtrl.cart.length}} items in cart, ${{productsCtrl.getCartPrice()}}</h2>

	<span class="cart-item th radius" ng-repeat="product in productsCtrl.cart">

		<img ng-src="{{product.avatar_url}}" title="{{product.name}}"/>
		<span class="badge" ng-show="product.quantity > 1">
			x{{product.quantity}}
		</span>
	</span>

	<button ng-click="productsCtrl.checkout();">Checkout</button>
</div>
