<!--
<img class="thumbnail" src="http://2.bp.blogspot.com/-u3eDE1uS194/UE6dxfYMg4I/AAAAAAAAHZM/8zzSY-MnDEE/s640/Elle+Decor+Fiddle+Leaf+Figs.jpg" ng-show= "productsCtrl.options.size" ng-click="productsCtrl.selectLarge()"/>
<img class="thumbnail" src="https://img0.etsystatic.com/046/0/6172236/il_fullxfull.669542738_mkfg.jpg" ng-show= "productsCtrl.options.size" ng-click="productsCtrl.selectSmall()"/> -->


<!--
<button type="button" ng-show= "productsCtrl.options.light" ng-click="productsCtrl.selectLowLight()">low light plants</button>
<button type="button" ng-show= "productsCtrl.options.light" ng-click="productsCtrl.selectBrightLight()">bright light plants</button> -->

            <button ng-click="productsCtrl.filterProducts()">All</button>
            <button ng-click="productsCtrl.filterProducts('lightNeed', 'lowLight')">Low Light</button>
            <button ng-click="productsCtrl.filterProducts('lightNeed', 'brightLight')">Bright Light</button>
            <button ng-click="productsCtrl.filterProducts('type', 'hanging')">Hanging</button>
            <button ng-click="productsCtrl.filterProducts('type', 'potted')">Potted</button>
            <button ng-click="productsCtrl.filterProducts('size', 'S')">Small</button>
            <button ng-click="productsCtrl.filterProducts('size', 'M')">Medium</button>
            <button ng-click="productsCtrl.filterProducts('size', 'L')">Large</button>


	<ul class="product-list small-block-grid-2">
		<li ng-repeat="product in productsCtrl.filtered">

			<figure>
				<img ng-src="{{product.image}}" alt="{{product.name}}">
				<figcaption>
					<h3>	{{ product.name}} - {{ product.type }} - {{ product.lightNeed}} - size:  {{ product.size }} - {{product.price | currency}}</h3>
					<button ng-click="productsCtrl.addToCart(product)">Add to cart</button>
				</figcaption>
			</figure>
		</li>
	</ul>
</div>

<div ng-if="productsCtrl.cart.length" class="shopping-cart">
	<h2>{{productsCtrl.cart.length}} items in cart, ${{productsCtrl.getCartPrice()}}</h2>

	<span class="cart-item th radius" ng-repeat="product in productsCtrl.cart">

		<img ng-src="{{product.image}}" title="{{product.name}}"/>
		<span class="badge" ng-show="product.quantity > 1">
			x{{product.quantity}}
		</span>
	</span>

	<button ng-click="productsCtrl.checkout();">Checkout</button>
</div>

<a ui-sref="shop">Start Over</a>
